.popup__error {
  position: absolute;
  visibility: hidden;
  color: #f00;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
  line-height: normal;
  inset-inline-start: 36px;
  inset-block-start: 140px;
}

.popup__error:not(:first-of-type) {
  margin-block-start: 57px;
}

@media (width <= 568px) {
  .popup__error {
    inset-inline-start: 20px;
    inset-block-start: 120px;
  }
}
